In [2]:
#import required packages
import pandas as pd
import numpy as np

In [3]:
#read the data
energy_pd = pd.read_csv("data/Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")

#take a look
print(energy_pd.describe())

           Postcode  Current fulltime  Job created   Job retain  \
count    450.000000        446.000000    11.000000    14.000000
mean   11024.124444        124.186099    13.545455   297.500000
std      405.126704        392.750810    16.409532   778.404655
min    10001.000000          0.000000     2.000000     4.000000
25%    11101.000000         11.000000     4.000000    15.500000
50%    11205.000000         28.000000    10.000000    42.000000
75%    11232.000000         76.000000    13.500000   160.750000
max    11693.000000       3878.000000    60.000000  2964.000000

       Total Savings  Savings from beginning receiving benefits    Latitude  \
count   4.500000e+02                               4.500000e+02  409.000000
mean    3.943778e+04                               4.234601e+05   40.722293
std     1.345949e+05                               1.936066e+06    0.057503
min    -1.099101e+05                               0.000000e+00   40.555080
25%     1.770948e+03                               1.498421e+04   40.676351
50%     6.101215e+03                               5.431184e+04   40.721144
75%     2.025603e+04                               2.003667e+05   40.752096
max     1.568982e+06                               3.351826e+07   40.890837

        Longitude  Community Board  Council District  Census Tract  \
count  409.000000       409.000000        409.000000    409.000000
mean   -73.942376       317.982885         27.823961   2049.080685
std      0.065553        93.925749         10.984316   7784.674799
min    -74.216206       101.000000          1.000000      1.000000
25%    -73.984843       301.000000         26.000000     20.000000
50%    -73.941706       307.000000         30.000000    199.000000
75%    -73.909345       402.000000         36.000000    543.000000
max    -73.743730       503.000000         51.000000  94201.000000

                BIN           BBL
count  4.010000e+02  4.010000e+02
mean   3.295894e+06  3.163398e+09
std    9.897776e+05  9.483943e+08
min    1.000811e+06  1.000220e+09
25%    3.009889e+06  3.006320e+09
50%    3.336903e+06  3.036760e+09
75%    4.005076e+06  4.003930e+09
max    5.168823e+06  5.070670e+09

In [17]:
##how many companies are included?

#extract all the value of the column with company names
company_names = energy_pd["Company Name"]

#extract the unique cases using set
unique_company_names = set(company_names)

#print results
print(f"There are {len(unique_company_names)} different companies")

There are 439 different companies

In [22]:
##total number of jobs created in Queens

#which rows belong to Queens
boolean_queens = energy_pd["City"] == "Queens"

#filter by Queens
energy_pd_queens = energy_pd[boolean_queens]

#select the column of jobs created
jobs_created_queens = energy_pd_queens["Job created"].sum()

#print
print(f"The number of jobs created in Queens was {jobs_created_queens}")

The number of jobs created in Queens was 90.0

In [60]:
##unique email domains

#select the column with emails
company_emails = energy_pd["company email"]

#remove NAs
company_emails_no_na = company_emails[company_emails.notna()]

#for each email, split by "@" and the select the domain
list_domains = [email.split("@")[-1] for email in company_emails_no_na]

#extract the number of unique domains using set
n_unique_domains = len(set(list_domains))

#print
print(f"The number of unique email domains is {n_unique_domains}")

The number of unique email domains is 361

In [24]:
##work with NTAs having at least 5 businesses

#extract NTAs
ntas = energy_pd["NTA"]

#remove nas
ntas = ntas[ntas.notna()]

#select unique cases
unique_ntas = list(set(ntas))

#create df to save results
results = pd.DataFrame(unique_ntas)
results = results.rename(columns={0:"NTA"})
results["Average Savings"] = ""
results["Total Jobs"] = ""

#for each nta calculate the average savings and jobs creates
for nta in unique_ntas:
    
    #select the rows for nta
    selected_subset = energy_pd[energy_pd["NTA"] == nta]
    
    #get the company names
    selected_subset_companies = list(set(selected_subset["Company Name"]))
    
    #if the number of different businesses is equal or larger than 5
    if len(selected_subset_companies) >= 5:
        
        #calculate the average of savings and jobs within the selected nta
        avg_savings = np.mean(selected_subset["Total Savings"])
        total_jobs = np.sum(selected_subset["Job created"])
        
        #save the results for the corresponding NTA
        results.loc[results["NTA"] == nta, "Average Savings"] = avg_savings
        results.loc[results["NTA"] == nta, "Total Jobs"] = total_jobs

        
#convert empty cells to NA
results.replace('', np.nan, inplace=True)

#remove NAs
results.dropna(inplace=True)

#see the results
print(results)

                                                 NTA  Average Savings  \
2                                Crown Heights North      4036.298889
14          Queensbridge-Ravenswood-Long Island City     61830.770625
18                                  Sunset Park West     14316.976875
25                                          Steinway     11227.155714
27          Carroll Gardens-Columbia Street-Red Hook     24337.390000
28                                 East Williamsburg     13990.626364
29                        park-cemetery-etc-Brooklyn     14327.419333
30                                        Greenpoint      9753.649286
31                                           Maspeth      6658.283333
34                                       Hunts Point     39246.016154
43                                     College Point     17159.372857
47              Hunters Point-Sunnyside-West Maspeth     23931.398933
48                                    Manhattanville      2760.888889
49                                    Bushwick South     26140.455000
50                 Battery Park City-Lower Manhattan    469890.796667
54              Springfield Gardens South-Brookville     17757.662000
55  DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill     59950.340000
62                                     East New York     48433.093333
65            SoHo-TriBeCa-Civic Center-Little Italy     37214.024000
67                            Mott Haven-Port Morris     17843.937857

    Total Jobs
2          0.0
14         0.0
18         0.0
25        20.0
27         0.0
28         0.0
29         0.0
30         0.0
31        10.0
34        12.0
43         2.0
47         0.0
48         0.0
49        10.0
50         0.0
54         0.0
55         0.0
62        15.0
65         0.0
67        10.0

In [25]:
##save the previous results as csv
results.to_csv("/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/preparation_courses/12_day_program/day_4/results.csv", sep=",")